body {
  margin: 0;
  font-family: Josefin Sans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Josefin Sans;
}
.page-title {
  
  text-align: center;
  font-family: Josefin Sans;
  font-size: 48px;
  line-height: 68px;
  color: #282D37FF;
}
.home-page-subtitle {
  
  text-align: center;
  font-family: Josefin Sans;
  font-size: 22px;
  line-height: 28px;
  color: #282D37FF;
}
.app-select-button {
  position: absolute;
  height: 36px;
  padding: 0 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Josefin Sans;
  font-size: 14px;
  line-height: 22px;
  color: #FFFFFFFF;
  background: #56B4B8FF;
  opacity: 1;
  border: none;
  border-radius: 6px;
}
.app-select-button:hover {
  color: #FFFFFFFF;
  background: #429A9DFF;
}
/* Pressed */
.app-select-button:hover:active {
  color: #FFFFFFFF;
  background: #3B8A8DFF;
}
/* Disabled */
.app-select-button:disabled {
  opacity: 0.4;
}
#button1 {
  top: 391px;
  left: 47%;
}
#button2 {
  top: 444px;
  left: 47%;
}
#button3 {
  top: 536px;
  left: 44.5%;
}
#or {
  position: absolute;
  top: 500px;
  left: 51%;
  font-family: Josefin Sans;
  font-size: 18px;
  line-height: 22px;
  color: #282D37FF;
}